*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
}
/* home-section */
#home{
    background-color: rgb(231, 231, 231);
    height: 95vh;
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
}
/* written part */
.content{ 
    margin-top: -70px;
    width: 50%;  
}
.content h1{
    color: rgb(52, 112, 202);
    font-size: 60px;
    margin-top: 50px;
}
.content p{
    margin-top: 5px;
    font-size: 28px;
}
/* box area */
.box{
    margin-top: -100px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(2, 52,94, 0.3);
    border-radius: 10px;
    height: 350px;
    width: 400px;
}
/* form  */
form input{
    display: block;
    margin: 15px auto;
    width: 90%;
    top: 0%;
    height: 45px;
    border-radius: 5px;
    border: 0.1px solid grey;
}
::-webkit-input-placeholder{
    font-weight: lighter;
}
.int{
    padding: 0px 15px;
    font-size: 18px;
}
/* button  */
.btn{
    width: 90%;
    margin: auto;
    display: block;
    height: 45px;
    border-radius: 5px;
    border:none;
    font-size: 20px;
    font-weight: bolder;
    background-color:rgb(52, 112, 202);
    color: white;
}
.btn:hover{
    background-color:rgb(9, 55, 125);
}
.btn2{
    width: 60%;
    margin: 30px auto;
    display: block;
    height: 45px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    background-color:rgb(13, 174, 13);
    color: white;
}
.btn2:hover{
    background-color:rgb(5, 116, 5);
}

h5{
    width: 50%;
    margin: 20px auto;
    font-weight: lighter;
    text-align: center;
}
h5 a{
    color:rgb(52, 112, 202) ;
    text-decoration: none;
}
h5:hover{
    color:rgb(21, 60, 120);
    text-decoration-line: underline;
}
hr{
    width: 80%;
    margin: auto;
}
.box p{
    width: 90%;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 60px;
}
.box p strong:hover{
    text-decoration-line: underline;
}
/* footer atra  */
.info p{
    width: 80%;
    margin: 15px auto;
}
@media (max-width:1200px) {
    .container{
        width: 85%;
        margin: auto;
    }
}
@media (max-width:950px) {
    .container{
        width: 90%;
    }
}
@media (max-width:870px) {
    .container{
        display: flex;
        flex-direction: column;
        height: 550px;
        align-items: center;   
 }
 .content{ 
    width: 70%;  
}
}
@media (max-width:600px) {
        .content p{
            font-size: 25px;
      }
      .container{
        width: 100%;
    }
}
@media (max-width:400px) {
    .content p{
        font-size: 20px;
  }
  .content h1{
    font-size:40px ;
  }
  .box{
    width: 250px;
}
#home{
    height: 100vh;
    
}
}
